body {
    overflow: hidden;
}

.wrapper-booth {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../../admin/images/khamkeo-vilaysing-gD_tsgeklLY-unsplash.jpg") center no-repeat;
    background-size: cover;
    /* background: #212121; */
}

.menu {
    position: absolute;
    top: 3%;
    left: 10%;
    z-index: 10;
}

.menu a,
.menu a::after {
    width: 200px;
    text-align: center;
    height: 40px;
    font-size: 1.25rem;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 40px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

.menu a::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "AVAILABLE NOW";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,
            transparent 3%,
            #00e6f6 3%,
            #00e6f6 5%,
            #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.menu a:hover {
    text-decoration: none;
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.video {
    border: 0.5rem solid #00e6f6;
    position: relative;
    border-bottom-left-radius: 34px;
    border-top-right-radius: 34px;
}

.img {
    position: relative;
    width: 100%;
    height: 300px;
    background: #000;
}

.img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left_side {
    margin-left: 1rem;
    /* margin-top: 1.50rem; */
    transform: skewY(-10deg);
    border-radius: 0.75rem;
}

.right_side {
    /* position: absolute; */
    /* left:180%; */
    transform: skewY(10deg);
    border-radius: 0.75rem;
}

.addition {
    border: 1rem solid;
    border-image-slice: 1;
    border-width: 10px;
    border-image-source: linear-gradient(to left, #28313b, #485461);
    /* position: relative; */
    /* position: absolute; */
    border-radius: 0.75rem;
}

.addition::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 5rem;
    bottom: -5rem;
    left: 0;
    margin-left: 45%;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    background: linear-gradient(to left, #28313b, #485461);
}

.wajib {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #28313b, #485461);
    /* position: relative; */
    /* position: absolute; */
    border-radius: 0.75rem;
}

.wajib::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 5rem;
    background: linear-gradient(to left, #28313b, #485461);
    bottom: -5.25rem;
    left: 0;
    margin-left: 45%;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

#poster {
    cursor: pointer;
    transition: 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }

    .wrapper-booth {
        min-height: 100vh;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0 !important;
    }

    iframe {
        width: 100%;
    }


    /* .wajib {
        margin: -3rem 0 3rem 0 !important;
    }
*/
    .img:first-child {
        margin: 1rem 0 6rem 0 !important;
    }

    .sec-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
